<div class="row">


<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Games Played</h3>
    </div>
    <div class="panel-body">
      <%= @gamesplayed %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Wins</h3>
    </div>
    <div class="panel-body">
      <%= @topwins %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-danger">
    <div class="panel-heading">
       <h3 class="panel-title">Top Losses</h3>
    </div>
    <div class="panel-body">
      <%= @toploss %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Final Blows</h3>
    </div>
    <div class="panel-body">
      <%= @topfinalblow %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-danger">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Death</h3>
    </div>
    <div class="panel-body">
      <%= @topavgdeath %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Medals</h3>
    </div>
    <div class="panel-body">
      <%= @topavgmedal %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Avgerage Eliminations</h3>
    </div>
    <div class="panel-body">
      <%= @topavgelim %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Damage</h3>
    </div>
    <div class="panel-body">
      <%= @topavgdamage %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Healing</h3>
    </div>
    <div class="panel-body">
      <%= @topavghealing %>
    </div>
  </div>
</div>

</div>