<div class="row">


<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Games Played</h3>
    </div>
    <div class="panel-body">
      <%= @gamesplayed.battlenet %>
      <%= image_tag @gamesplayed.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Wins Percent</h3>
    </div>
    <div class="panel-body">
      <%= @topwins.battlenet %>
      <%= image_tag @topwins.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-danger">
    <div class="panel-heading">
       <h3 class="panel-title">Top Losses</h3>
    </div>
    <div class="panel-body">
      <%= @toploss.battlenet %>
      <%= image_tag @toploss.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Final Blows</h3>
    </div>
    <div class="panel-body">
      <%= @topfinalblow.battlenet %>
      <%= image_tag @topfinalblow.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-danger">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Death</h3>
    </div>
    <div class="panel-body">
      <%= @topavgdeath.battlenet %>
      <%= image_tag @topavgdeath.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Medals</h3>
    </div>
    <div class="panel-body">
      <%= @topavgmedal.battlenet %>
      <%= image_tag @topavgmedal.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Avgerage Eliminations</h3>
    </div>
    <div class="panel-body">
      <%= @topavgelim.battlenet %>
      <%= image_tag @topavgelim.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Damage</h3>
    </div>
    <div class="panel-body">
      <%= @topavgdamage.battlenet %>
      <%= image_tag @topavgdamage.avatar %>
    </div>
  </div>
</div>

<div class="col-sm-2">
  <div class="panel panel-success">
    <div class="panel-heading">
       <h3 class="panel-title">Top Average Healing</h3>
    </div>
    <div class="panel-body">
      <%= @topavghealing.battlenet %>
      <%= image_tag @topavghealing.avatar %>
    </div>
  </div>
</div>

</div>

<%= @test %>